nav {
    background-color: rgba(217, 90, 217, 0.309);
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 10px;
    margin-bottom: 0%;
    position: fixed;
    fill-opacity: 50%;
  
  }

 .nav a:hover {
    color: white;
  }